<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <title>{% block title %}Task Master Pro{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container nav-wrapper">
            <a href="/" class="logo">Task Master <span>Pro</span></a>
            <div id="auth-links">
                {% if user %}
                    <span style="margin-right: 15px; color: var(--primary);">👋 {{ user.username }}</span>
                    {% if user.role == "admin" %}
                        <a href="/admin/dashboard" class="nav-link" style="color: #dc2626;">🛠️ Админ</a>
                    {% endif %}
                    <a href="/logout" class="nav-link btn-logout-nav">Изход</a>
                {% else %}
                    <a href="/login" class="nav-link">Вход</a>
                    <a href="/register" class="nav-link btn-outline">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 Task Master Pro. Built with FastAPI & Wit.</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>